.AddProperty {
  margin: 1em;
  font-family: "Fauna One", serif;
  font-size: 20px;
}

form {
  margin: 1em 0em 0em 0em;
  font-size: 17px;
}

input {
  margin: 0.5em;
  border: 1px solid coral;
  border-radius: 5%;
  padding: 0.5em;
  font-size: 15px;
}

select {
  margin: 0.5em;
  border: 1px solid coral;
  border-radius: 5%;
  padding: 0.5em;
  font-size: 15px;
}

button {
  border: 1px solid coral;
  border-radius: 7%;
  padding: 0.5em 1.5em;
  margin: 0.5em;
}
